apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: hcloud-csi
    repo: https://charts.hetzner.cloud
    version: 2.18.2
    releaseName: hcloud-csi
    namespace: kube-system
    includeCRDs: true
    valuesInline:
      global:
        enableProvidedByTopology: true
      controller:
        replicaCount: 1
        hcloudVolumeDefaultLocation: nbg1
        priorityClassName: "system-cluster-critical"
        resources:
          csiAttacher:
            limits:
              memory: 80Mi
              cpu: 50m
            requests:
              memory: 80Mi
              cpu: 50m
          csiResizer:
            limits:
              memory: 80Mi
              cpu: 50m
            requests:
              memory: 80Mi
              cpu: 50m
          csiProvisioner:
            limits:
              memory: 80Mi
              cpu: 50m
            requests:
              memory: 80Mi
              cpu: 50m
          livenessProbe:
            limits:
              memory: 80Mi
              cpu: 50m
            requests:
              memory: 80Mi
              cpu: 50m
          hcloudCSIDriver:
            limits:
              memory: 80Mi
              cpu: 100m
            requests:
              memory: 80Mi
              cpu: 100m
        affinity:
          podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              - labelSelector:
                  matchExpressions:
                    - key: csi-hcloud
                      operator: In
                      values:
                        - controller
                topologyKey: "kubernetes.io/hostname"
      node:
        priorityClassName: "system-node-critical"
        resources:
          csiNodeDriverRegistrar:
            limits:
              memory: 40Mi
              cpu: 50m
            requests:
              memory: 40Mi
              cpu: 50m
          livenessProbe:
            limits:
              memory: 40Mi
              cpu: 50m
            requests:
              memory: 40Mi
              cpu: 50m
          hcloudCSIDriver:
            limits:
              memory: 80Mi
              cpu: 100m
            requests:
              memory: 80Mi
              cpu: 100m
        hostNetwork: true
        # affinity:
        #   nodeAffinity:
        #     requiredDuringSchedulingIgnoredDuringExecution:
        #       nodeSelectorTerms:
        #         - matchExpressions:
        #             - key: "node-role.kubernetes.io/control-plane"
        #               operator: NotIn
        #               values:
        #                 - ""
        # extraEnvVars:
        #   - name: LOG_LEVEL
        #     value: trace
        #   - name: HCLOUD_DEBUG
        #     value: "1"
      metrics:
        enabled: true
